DYNAMIC PAGE - HIGHEST POSSIBLE CLASSIFICATION IS
TOP SECRET// SI / TK // REL TO USA AUS CAN CBR N2L

(U//FOUO) Review: SIGINT Requirements Course (repost)

FROM: Jim Cusick

Assistant Deputy Director for Data Acquisition (S3)

Run Date: 12/22/2004

(U//FOUO) If you are anything like me and you kind of enjoy straying from the path of political
correctness, you have probably had a snoot-full of requirements and the requirements process,
and you may have secretly harbored the notion that ignoring the topic might make it go away.
Since this is billed as a review of the new SIGINT requirements course and its unlikely that they
would publish a review panning the course, you are probably expecting me to tell you the course
is better than whatever your favorite pastime may be. It ain't gonna happen.

(U//FOUO) The topic is just not a lot of fun. If, on the other hand, we are to have any hope of
dealing with the challenges of the future and if you want to make sure the "solutions" of the
future make it easier to do our job and produce SIGINT that matters, it is important for each and
every one of us to understand and master the essentials of the operational requirements
process. The course will not keep you on the edge of your seat, but it conveys the essential
information you need to make the process work for you in a painless, well taught package.

Worth at least twice the money I invested in it.

(U//FOUO) Note from SIGINT Communications: Below you will find a description of the SIGINT
Operational Requirements and Capabilities Executive Overview (RESM 5470) course reviewed
above by Mr. Cusick. In addition, be aware that a more in-depth three-day version of the course
(RESM 2470) is available for non-executives. Sessions of this class are coming up — see the
class schedule tor details.

(U//FOUO) The SIGINT Operational Requirements and Capabilities Executive Overview .was

developed as a four-hour course in a workshop format. It is designed to assist senior and middle
level leaders to understand the SIGINT Operational Requirements and Capabilities approach and
how it contributes to identifying, analyzing, and developing both non-materiel and materiel
solutions to the major operational, technology and systems challenges facing the Agency. It
emphasizes the need to recognize and deal with the gaps between today's SIGINT architecture
and the Agency's future needs.

(U//FOUO) The course provides an opportunity for the participants to interact with their peers on
Issues related to improving the relationship among the Requirements, Acquisition, and Financial
processes. It also shows how the Requirements and Capabilities process is intended to drive
acquisition and budget in order to develop, demonstrate, and succesfully deploy usable
operational capabilities and services quickly. The course has two offerings in September and is
planned to be presented at least four times next quarter (October through December). Those
who are interested in attending can register via CONCERTO.

(U) This articte first appeared in September 2003.

"(U//FOUO) SlDtoday articles may not be republished or reposted outside NSANet
without the consent of S0121 fDLsId commsl."

DYNAMIC PAGE - HIGHEST POSSIBLE CLASSIFICATION IS
TOP SECRET // SI/ TK // REL TO USA AUS CAN GBR NZL
DERIVED FROM: NSA/CSSM 1-52, DATED 08 JAN 2007 DECLASSIFY ON: 20320108