DYNAMIC PAGE -- HIGHEST POSSIBLE CLASSIFICATION IS
TOP SECRET // SI / TK // REL TO USA AUS CAN GBR NZL

(U//FOUO) SIGINT Counterterrorism Requirements Undergo Review
FROM: 
SID Account Manager for DHS and NCTC (S112)
Run Date: 09/06/2005

(U//FOUO) Over 40 NSAers attended the National Counterterrorism Center's (NCTC) review of
SIGINT counterterrorism (CT) requirements from 26 to 29 July in McLean, VA. Representatives
from 26 partner/customer entities participated in at least a portion of the 4-day review, which
was led by NCTC and the National SIGINT Analysis and Production Subcommittee (NSIAPS). The
primary goal of the review was to identify any gaps in requirements as identified by the CT
customers who participated and to submit new requirements to the SIGINT system for
validation and tasking. The review also provided a forum for the CT Community to identify
concerns and more effectively deal with new and ongoing issues.
(S//SI//REL) The first day of the review consisted of several introductory/overview briefings,
which set the stage for the remaining three days. These briefings included:
an NCTC overview,
NSIAPS role in the review and follow-on activities,
NSA's GWOT (Global War on Terrorism) and Regional Strategies,
an Interagency Intelligence Committee on Terrorism overview with an explanation of the
CT Tiers, and
NSA authorities/USSID 18.
The remaining three days were primarily devoted to breakout sessions focused on customer
information needs on the following topics:
global and regional terrorism (Central Asia, Middle East, Asia/Pacific, Europe/Africa, and
the Americas),
CBRN,
weapons/explosives, and
Information Operations (IO).
Experts from NSA's CT mission provided customers with a good understanding of what it takes
to prosecute SIGINT terrorist targets and overall capabilities of the SIGINT system against these
targets. During the review, FBI briefed its FISA rules as well as a basic overview of FBI's
domestic role. Also on the domestic front, the Department of Homeland Security (DHS) provided
its perspective on the DHS mission, the importance of SIGINT in this mission, and a draft
version of the proposed Homeland Security IN that it will submit to NSIAPS soon.
(U//FOUO) As a follow-on to the review, NSIAPS is establishing a Counterterrorism Working
Group which will:
1.  capture any new requirements resulting from the review;
2.  dedupe, deconflict, and restructure existing requirements;
3.  monitor and coordinate new CT requirements as needed; and
4.  explore the feasibility of mapping the National Collection Plan for Counterterrorism to
existing CT SIGINT IN's (Intelligence Needs).
(U//FOUO) All CT Working Group proposals for changes to INs will be vetted through the
Intelligence Community, using the NSRP voting process, before NSIAPS does the final national
validation. The Working Group, composed of representatives from NSA, CIA, DIA, FBI, DHS, and
NCTC (with observer status), will operate for six months, at which time the NSIAPS members
will decide whether or not it should continue.
(U//FOUO) In addition to the NSIAPS follow-on activity, the Customer Gateway Account
Manager for NCTC is gathering feedback from the NSA participants in order to provide

 recommendations to improve the next SIGINT CT requirements review, which NCTC will hold in
18 months.

(U//FOUO) The NCTC Operations Center (24-hr watch)

"(U//FOUO) SIDtoday articles may not be republished or reposted outside NSANet
without the consent of S0121 (DL sid_comms)."

DYNAMIC PAGE -- HIGHEST POSSIBLE CLASSIFICATION IS
TOP SECRET // SI / TK // REL TO USA AUS CAN GBR NZL
DERIVED FROM: NSA/CSSM 1-52, DATED 08 JAN 2007 DECLASSIFY ON: 20320108

 