DYNAMIC PAGE -- HIGHEST POSSIBLE CLASSIFICATION IS
TOP SECRET // SI / TK // REL TO USA AUS CAN GBR NZL

(U//FOUO) The Collection Strategies and Requirements Center
(CSRC) Realigns
FROM:
Data Acquisition (S3) Chief of Staff
Run Date: 07/26/2005

New structure will improve communication with internal and external customers. (U//FOUO)
(U//FOUO) Driven by the need to better position the CSRC to serve as the "front door" for Data
Acquisition (DA) and to communicate more effectively to external and internal customers, the
CSRC has realigned key functions and talent into new offices that reflect the CSRC's growing
responsibility, authority, and impact within NSAW and across the global enterprise.
(S//SI) Paralleling the Mission Alignment activities occurring Enterprise-wide, the Office of
Partnership and Enterprise Management (S3C1) has assumed the new responsibilities of
governing worldwide CSRC functions and established credible engagement with our Intelligence
Community partners on Collection Management and Targeting. S3C1 also maintains its familiar
role of leveraging the access, collection and technical capabilities of our Second Party partners
and serving as the DA portal for all data flowing between NSA and a sensitive Third Party
partner.
(S//SI) A cross-section of talented and experienced professionals grouped around portfolios of
key issues (e.g., Counter-Proliferation, Latin America) comprises the new Office of Collection
Initiatives and Strategies (S3C2) . S3C2's core role is to manage and coordinate collection
activities, ensuring that Data Acquisition actions are optimally tasked and arrayed to answer the
nation's collection requirements. This configuration also sparks collegial and creative approaches
to developing cross-access collection initiatives and strategies.
(U//FOUO) The Office of Targeting and Mission Management (S3C3) directs the end-to-end
management and governance of Data Acquisition Mission Management services for NSA
throughout the Enterprise. Its ability to perform that role has been enhanced by the integration
of the "old" Targeting and Compliance branch.
(U//FOUO) An entirely new office has been added to the CSRC, the Office of Strategic Access
Issues (S3C4) . This new office addresses major gaps and shortfalls in SIGINT access and
collection capabilities, and works with other organizations to find solutions and opportunities to
"big picture" issues.
(U//FOUO) The NSOC Senior Collection Officers ( SCOs ), responsible for the 24/7 monitoring of
the collection posture of the United States Collection Systems (USCS), as well as the expanded
Tech Team have been realigned directly under CSRC senior leadership. The Tech Team is
focused on modernization and automation of collection management, targeting, and Mission
Management tools and procedures.
(U) In addition, the CSRC has been moving forward in the deployment of personnel and
capabilities to the various Cryptologic Centers, having identified the leads for NSA/CSS Georgia
and Colorado and the CSRC Europe facilities. To learn more about this initiative and other
important changes, we encourage you to visit our website (go CSRC) and take a virtual tour of
the new CSRC.

"(U//FOUO) SIDtoday articles may not be republished or reposted outside NSANet
without the consent of S0121 (DL sid_comms)."

 DYNAMIC PAGE -- HIGHEST POSSIBLE CLASSIFICATION IS
TOP SECRET // SI / TK // REL TO USA AUS CAN GBR NZL
DERIVED FROM: NSA/CSSM 1-52, DATED 08 JAN 2007 DECLASSIFY ON: 20320108

 